/* Main container */
.form-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f6fa;
}

/* Form box */
.form-content {
    width: 400px;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Form */
.form {
    width: 100%;
}

/* Heading */
.form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Inputs */
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border-color 0.3s;
}

.form input:focus {
    border-color: #4f46e5;
}

/* Avatar upload */
.avatar-group {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.avatar-group input[type="file"] {
    flex: 1;
    font-size: 14px;
}

.avatar-group img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

/* Submit button */
.form button {
    width: 100%;
    padding: 14px;
    background:var(--primary-main);
    color: var(--text-primary);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form button:hover {
    background:var(--primary-dark);
    color:var(--text-primary);
}

/* .form button:disabled {
    background: #9765e7;
    cursor: not-allowed;
} */

/* Bottom text */
.form p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.form p a {
    color: #4f46e5;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;
}

.form p a:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
    .form-content {
        width: 90%;
        padding: 20px;
    }

    .avatar-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .avatar-group img {
        margin-top: 8px;
    }
}